In [68]:
import pandas as pd
from pprint import pprint

# Лабораторная работа № 2
## Описание
Используя приложенный файл ```books.csv``` ИЛИ ```books-en.csv```, выполнить следующее:  
* Вывести количество записей, у которых в поле ```Название``` строка длиннее 30 символов.
* Реализовать поиск книги по автору, использовать ограничение на выдачу в зависимости от варианта.
* Реализовать генератор библиографических ссылок вида ```<автор>. <название> - <год>``` для 20 записей. Записи выбрать произвольно. Список сохраняется как отдельный файл текстового формата с нумерацией строк.

Используя приложенный файл ```currency.xml```, выполнить следующее:  
* Распарсить файл и извлечь данные, согласно варианту. Выполнить приведения типов по необходимости.

In [69]:
data = pd.read_csv('books-en.csv', delimiter=';', encoding='cp1252')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9409 entries, 0 to 9408
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ISBN                 9409 non-null   object
 1   Book-Title           9409 non-null   object
 2   Book-Author          9409 non-null   object
 3   Year-Of-Publication  9409 non-null   object
 4   Publisher            9409 non-null   object
 5   Downloads            9409 non-null   int64
 6   Price                9409 non-null   object
dtypes: int64(1), object(6)
memory usage: 514.7+ KB

In [70]:
data.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Downloads,Price
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,2,269
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,11,219
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,25,199
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,25,199
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,6,"223,3"

In [71]:
data.Downloads = data.Downloads.apply(int)
data.Price = data.Price.apply(lambda x: float(x.replace(',', '.')))
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9409 entries, 0 to 9408
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ISBN                 9409 non-null   object
 1   Book-Title           9409 non-null   object
 2   Book-Author          9409 non-null   object
 3   Year-Of-Publication  9409 non-null   object
 4   Publisher            9409 non-null   object
 5   Downloads            9409 non-null   int64
 6   Price                9409 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 514.7+ KB

### Задание № 1

Вывести количество записей, у которых в поле Название строка длиннее 30 символов.

In [72]:
count = len([i for i in data['Book-Title'].values if len(i) > 30])
count

4157

### Задание № 2

Реализовать поиск книги по автору, использовать ограничение на выдачу в зависимости от варианта.

**Ограничение**: _До 200 рублей_

In [73]:
author = input()
response = data[(data.Price < 200) & (data['Book-Author'] == author)]
response.head()

Empty DataFrame
Columns: [ISBN, Book-Title, Book-Author, Year-Of-Publication, Publisher, Downloads, Price]
Index: []

### Задание № 3

Реализовать генератор библиографических ссылок вида ```<автор>. <название> - <год>``` для 20 записей. Записи выбрать произвольно. Список сохраняется как отдельный файл текстового формата с нумерацией строк.

In [74]:
pattern = '{}. {} - {}\n'
f = open('result.txt', 'w')
for _ in range(20):
    row = data.loc[_]
    f.write(pattern.format(row['Book-Author'], row['Book-Title'], row['Year-Of-Publication']))
f.close()

### Задание № 4

Распарсить файл и извлечь данные, согласно варианту. Выполнить приведения типов по необходимости.

**Тип данных:** _Словарь "NumCode - CharCode"_

In [75]:
data = pd.read_xml('currency.xml', encoding='cp1252')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         43 non-null     object
 1   NumCode    43 non-null     int64
 2   CharCode   43 non-null     object
 3   Nominal    43 non-null     int64
 4   Name       43 non-null     object
 5   Value      43 non-null     object
 6   VunitRate  43 non-null     object
dtypes: int64(2), object(5)
memory usage: 2.5+ KB

In [79]:
data.CharCode.unique()

array(['AUD', 'AZN', 'GBP', 'AMD', 'BYN', 'BGN', 'BRL', 'HUF', 'VND',
       'HKD', 'GEL', 'DKK', 'AED', 'USD', 'EUR', 'EGP', 'INR', 'IDR',
       'KZT', 'CAD', 'QAR', 'KGS', 'CNY', 'MDL', 'NZD', 'NOK', 'PLN',
       'RON', 'XDR', 'SGD', 'TJS', 'THB', 'TRY', 'TMT', 'UZS', 'UAH',
       'CZK', 'SEK', 'CHF', 'RSD', 'ZAR', 'KRW', 'JPY'], dtype=object)

In [81]:
result = data.loc[:, 'NumCode':'CharCode']
sl = {i: j for i, j in zip(result.NumCode.values, result.CharCode.values)}
pprint(sl)

{36: 'AUD',
 51: 'AMD',
 124: 'CAD',
 156: 'CNY',
 203: 'CZK',
 208: 'DKK',
 344: 'HKD',
 348: 'HUF',
 356: 'INR',
 360: 'IDR',
 392: 'JPY',
 398: 'KZT',
 410: 'KRW',
 417: 'KGS',
 498: 'MDL',
 554: 'NZD',
 578: 'NOK',
 634: 'QAR',
 702: 'SGD',
 704: 'VND',
 710: 'ZAR',
 752: 'SEK',
 756: 'CHF',
 764: 'THB',
 784: 'AED',
 818: 'EGP',
 826: 'GBP',
 840: 'USD',
 860: 'UZS',
 933: 'BYN',
 934: 'TMT',
 941: 'RSD',
 944: 'AZN',
 946: 'RON',
 949: 'TRY',
 960: 'XDR',
 972: 'TJS',
 975: 'BGN',
 978: 'EUR',
 980: 'UAH',
 981: 'GEL',
 985: 'PLN',
 986: 'BRL'}

## Допзадание

- Вывести перечень всех тегов без повторений (для books-en.csv - перечень издательств без повторений).
- Самые популярные 20 книг.

In [82]:
data = pd.read_csv('books-en.csv', delimiter=';', encoding='cp1252')
data.Downloads = data.Downloads.apply(int)
data.Price = data.Price.apply(lambda x: float(x.replace(',', '.')))
data.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Downloads,Price
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,2,269.0
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,11,219.0
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,25,199.0
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,25,199.0
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,6,223.3

### Задание № 1

Вывести перечень всех тегов без повторений (для books-en.csv - перечень издательств без повторений).

In [85]:
data.Publisher.unique()

array(['Oxford University Press', 'HarperFlamingo Canada',
       'HarperPerennial', ..., 'Icon Group International, Inc.',
       'Firebird Books', 'Cliff Street Books'], dtype=object)

### Задание № 2

Самые популярные 20 книг.

In [90]:
result = data.sort_values(by='Downloads', ascending=False).reset_index()[:20]
result

,index,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Downloads,Price
0,7062,425135721,McNally's Secret (Archy McNally Novels (Paperb...,Lawrence Sanders,1994,Berkley Publishing Group,25,199.0
1,1796,451180208,Material Witness,Robert K. Tanenbaum,1994,Signet Book,25,399.0
2,1604,373152655,Christmas Miracles,Betty Neels,1997,Harlequin,25,349.0
3,1621,2070364283,La Perle,John Steinbeck,1973,Gallimard,25,99.9
4,7830,345308980,Foundation's Edge (Foundation Novels (Paperback)),ISAAC ASIMOV,1983,Del Rey,25,176.0
5,7790,743477081,Forever and Always,Jude Deveraux,2003,Pocket Books,25,379.0
6,7767,2070725804,Comme un roman,Daniel Pennac,1992,Gallimard,25,99.9
7,7750,812504798,The Red Badge of Courage,Stephen Crane,1997,Tor Books,25,349.0
8,1755,61008028,Fighter: The True Story of the Battle of Britain,Len Deighton,1994,Harper Mass Market Paperbacks (Mm),25,399.0
9,7538,385132786,The Rising Sign: Your Astrological Mask,Jeanne Avery,1982,Main Street Books,25,199.0
10,6977,446531480,A Body to Die For,Kate White,2003,Warner Books,25,176.9
11,7537,451196805,"Past Lives, Present Loves",Jeanne Avery,1999,Signet Book,25,79.0
12,7476,373243820,Love Beyond Words (50th Book) (Silhoette Spec...,Janet Woods,2001,Silhouette,25,129.0
13,7454,764223666,"Evening Star (Sam Keaton:Legends of Laramie, 1)",Sigmund Brouwer,2000,Bethany House Publishers,25,239.0
14,1973,60908548,Inanna,Diane Wolkstein,1983,Perennial,25,149.0
15,1976,553343874,Emmanuel's Book: A Manual for Living Comfortab...,Pat Rodegast,1987,Bantam,25,199.0
16,1990,590634275,Captain Underpants and the Attack of the Talki...,Dav Pilkey,1999,Scholastic,25,109.0
17,1996,60002492,Amazonia,James Rollins,2003,Avon Books,25,119.9
18,1603,380803526,The Renegades: Cole (Renegades),Genell Dellin,1999,Avon,25,229.0
19,1602,1854877178,Come Home Forever,Jan McDaniel,1997,Scarlet Books,25,399.0